.button {
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  border: 0;
  outline: none;

  padding: 10px 20px;
  border-radius: 5px;

  font-family: var(--text-font);
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;

  cursor: pointer;
}

.button:hover {
  filter: brightness(1.05);
}

.yellow {
  background: gold;
  box-shadow: 0 4px 0 0 orange;
}

.yellow:active {
  box-shadow: 0 1px 0 0 orange;
  transform: translateY(3px);
}

.blue {
  background: var(--info-main);
  box-shadow: 0 4px 0 0 var(--info-secondary);
}

.blue:active {
  box-shadow: 0 1px 0 0 var(--info-secondary);
  transform: translateY(3px);
}

.purple {
  background: var(--action-main);
  box-shadow: 0 4px 0 0 var(--action-secondary);
}

.purple:active {
  box-shadow: 0 1px 0 0 var(--action-secondary);
  transform: translateY(3px);
}

.green {
  background: var(--success-main);
  box-shadow: 0 4px 0 0 var(--success-secondary);
}

.green:active {
  box-shadow: 0 1px 0 0 var(--success-secondary);
  transform: translateY(3px);
}